variables:
  UBUNTU_BUILDER: $DOCKER_REGISTRY/satellite/bitcoinsatellite/ubuntu-builder:$CI_COMMIT_SHA
  FEDORA_BUILDER: $DOCKER_REGISTRY/satellite/bitcoinsatellite/fedora-builder:$CI_COMMIT_SHA
  CENTOS_BUILDER: $DOCKER_REGISTRY/satellite/bitcoinsatellite/centos-builder:$CI_COMMIT_SHA
  I686_BUILDER: $DOCKER_REGISTRY/satellite/bitcoinsatellite/i686-builder:$CI_COMMIT_SHA
  ARM_BUILDER: $DOCKER_REGISTRY/satellite/bitcoinsatellite/arm-builder:$CI_COMMIT_SHA

builders:
  image: docker
  stage: .pre
  tags:
    - k8s-docker
  services:
    - docker:19-dind
  before_script:
    - echo "$CI_BUILD_TOKEN" | docker login -u gitlab-ci-token --password-stdin $DOCKER_REGISTRY
  parallel:
    matrix:
      - BUILDER: ["ubuntu-builder", "fedora-builder", "centos-builder", "i686-builder", "arm-builder"]
  variables:
    IMAGE: $DOCKER_REGISTRY/satellite/bitcoinsatellite/$BUILDER
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TLS_CERTDIR: ""
  timeout: 2h
  script:
    - docker pull $IMAGE:$CI_COMMIT_REF_SLUG || docker pull $IMAGE:latest || true
    - >
      docker build
      -f docker/$BUILDER.docker
      --cache-from $IMAGE:$CI_COMMIT_REF_SLUG
      --cache-from $IMAGE:latest
      --build-arg BUILDKIT_INLINE_CACHE=1
      -t $IMAGE:$CI_COMMIT_SHA
      -t $IMAGE:$CI_COMMIT_REF_SLUG
      -t $IMAGE:latest
      .
    - docker push $IMAGE:$CI_COMMIT_SHA
    - docker push $IMAGE:$CI_COMMIT_REF_SLUG
    - if [ $CI_COMMIT_BRANCH == "master" ]; then docker push $IMAGE:latest; fi

.build:
  stage: build
  tags:
    - k8s
  variables:
    CCACHE_DIR: $CI_PROJECT_DIR/.ccache/
  cache:
    key: ${CI_JOB_NAME}
    paths:
      - $CCACHE_DIR
  before_script:
    - mkdir -p $CCACHE_DIR

.build:x86:gcc:
  extends: .build
  script:
    - ./autogen.sh
    - mkdir build && cd build
    - if [ -z "$CI_COMMIT_TAG" ]; then export CONFIG_FLAGS="--disable-wallet --with-gui=no"; fi
    - ../configure $CONFIG_FLAGS
    - make -j$(nproc)
    - make check

build:x86:ubuntu:
  extends: .build:x86:gcc
  image: $UBUNTU_BUILDER

build:x86:fedora:
  extends: .build:x86:gcc
  image: $FEDORA_BUILDER

build:x86:centos:
  extends: .build:x86:gcc
  image: $CENTOS_BUILDER

build:x86:clang:
  extends: .build
  image: $UBUNTU_BUILDER
  script:
    - ./autogen.sh
    - mkdir build && cd build
    - CC=clang CXX=clang++ ../configure --disable-wallet --with-gui=no
    - make -j$(nproc)
    - make check

.build:cross:
  extends: .build
  image: $ARM_BUILDER
  script:
    - ./autogen.sh
    - mkdir build && cd build
    - if [ -z "$CI_COMMIT_TAG" ]; then export CONFIG_FLAGS="--disable-wallet --with-gui=no"; fi
    - ../configure --prefix=/src/depends/$HOST --enable-glibc-back-compat --enable-reduce-exports $CONFIG_FLAGS
    - make -j$(nproc)
  artifacts:
    paths:
      - build/src/test/test_bitcoin
    expire_in: 10 minutes

build:aarch64:
  extends: .build:cross
  variables:
    HOST: "aarch64-linux-gnu"

build:armhf:
  extends: .build:cross
  variables:
    HOST: "arm-linux-gnueabihf"

build:i686:
  extends: .build:cross
  image: $I686_BUILDER
  variables:
    HOST: "i686-pc-linux-gnu"

# Run cross-build tests on the deb-packer runner, which has qemu-user support.
.test:cross:
  image: $ARM_BUILDER
  stage: test
  tags:
    - k8s

test:aarch64:
  extends: .test:cross
  needs:
    - build:aarch64
  script:
    - qemu-aarch64 -L /usr/aarch64-linux-gnu build/src/test/test_bitcoin

test:armhf:
  extends: .test:cross
  needs:
    - build:armhf
  script:
    - qemu-arm -L /usr/arm-linux-gnueabihf build/src/test/test_bitcoin

test:i686:
  extends: .test:cross
  image: $I686_BUILDER
  needs:
    - build:i686
  script:
    - build/src/test/test_bitcoin

.pkg-build:
  stage: build
  timeout: 12h
  only:
    variables:
      - $CI_COMMIT_TAG =~ /^v(\d+\.)(\d+)-satellite(\d+\.)(\d+\.)(\d+)$/

# Build Debian packages using pbuilder
# Make sure to:
# - Define the PBUILDER_CACHE_DIR env var to control the pbuilder cache
#   directory used within the deb-packer container. Change it to a directory
#   within $CI_PROJECT_DIR such that it can ultimately be cached via Gitlab CI.
# - Cache the apt and ccache directories separately per pbuilder target.
# - Use separate artifacts archive names for each pbuilder target so that they
#   don't overwrite each other on the aptly job.
# - Use option --aptly to enable Blockstream's Aptly repository as an apt
#   package source on pbuilder builds. This is used to download libdb4.8
#   dependencies directly from the Aptly repository.
# - Use option --aptly-test so that this job does not ship the build products to
#   the Aptly server yet. Wait to upload the packages on the deploy stage.
deb-packages:
  extends: .pkg-build
  tags:
    - deb-packer
  parallel:
    matrix:
      - TARGET: [
        "bullseye-amd64",
        "bullseye-i386",
        "buster-amd64",
        "buster-i386",
        "buster-arm64",
        "buster-armhf",
        "stretch-amd64",
        "stretch-i386",
        "stretch-arm64",
        "stretch-armhf",
        "raspbian-buster-armhf",
        "raspbian-stretch-armhf"
        ]
  variables:
    PBUILDER_CACHE_DIR: $CI_PROJECT_DIR/cache/pbuilder
    ARTIFACTS_DIR: $CI_PROJECT_DIR/artifacts/
  cache:
    key: "pbuilder-$TARGET"
    paths:
      - $PBUILDER_CACHE_DIR/aptcache/
      - $PBUILDER_CACHE_DIR/ccache/
      - $PBUILDER_CACHE_DIR/$TARGET-base.tgz
  script:
    - >
      blocksat-build
      -p bitcoin-satellite
      $CI_COMMIT_TAG
      --pbuilder
      --pbuilder-target $TARGET
      --aptly
      --aptly-test
      -o $ARTIFACTS_DIR
  artifacts:
    name: "pbuilder-$TARGET"
    paths:
      - $ARTIFACTS_DIR

rpm-packages:
  extends: .pkg-build
  tags:
    - rpm-packer
  parallel:
    matrix:
      - TARGET: [
        "epel-8-x86_64",
        "fedora-33-x86_64",
        "fedora-33-i386",
        "fedora-34-x86_64",
        "fedora-34-i386"
        ]
  script:
    - blocksat-build -p bitcoin-satellite $CI_COMMIT_TAG --mock --mock-target $TARGET

# Manually build native (amd64) Ubuntu packages when desired for testing
# purposes on release candidates. Append a "-rc" suffix to the usual tag name in
# order to trigger this job.
ubuntu-packages:
  stage: test
  tags:
    - deb-packer
  image: $DOCKER_REGISTRY/satellite/blocksat-packages/ubuntu-packer
  dependencies: []
  only:
    variables:
      - $CI_COMMIT_TAG =~ /^v(\d+\.)(\d+)-satellite(\d+\.)(\d+\.)(\d+)-rc$/
  timeout: 12h
  parallel:
    matrix:
      - TARGET: ["focal-amd64", "bionic-amd64"]
  variables:
    PBUILDER_CACHE_DIR: $CI_PROJECT_DIR/cache/pbuilder
    ARTIFACTS_DIR: $CI_PROJECT_DIR/artifacts/
  cache:
    key: "pbuilder-ubuntu-$TARGET"
    paths:
      - $PBUILDER_CACHE_DIR/aptcache/
      - $PBUILDER_CACHE_DIR/ccache/
      - $PBUILDER_CACHE_DIR/$TARGET-base.tgz
  script:
    - >
      blocksat-build
      -p bitcoin-satellite
      $CI_COMMIT_TAG
      --pbuilder
      --pbuilder-target $TARGET
      -o $ARTIFACTS_DIR
  artifacts:
    name: "pbuilder-ubuntu-$TARGET"
    paths:
      - $ARTIFACTS_DIR

.pkg-upload:
  stage: deploy
  dependencies: []
  when: manual
  only:
    variables:
      - $CI_COMMIT_TAG =~ /^v(\d+\.)(\d+)-satellite(\d+\.)(\d+\.)(\d+)$/

aptly:
  extends: .pkg-upload
  tags:
    - deb-packer
  dependencies:
    - deb-packages
  script:
    - blocksat-aptly upload artifacts/

launchpad:
  extends: .pkg-upload
  tags:
    - deb-packer
  script:
    - blocksat-build -p bitcoin-satellite --upload $CI_COMMIT_TAG

copr:
  extends: .pkg-upload
  tags:
    - rpm-packer
  script:
    - sed -i "/\"epel-7-x86_64\",/d" /src/blocksat-packages/config/build_info.json
    - blocksat-build -p bitcoin-satellite --upload $CI_COMMIT_TAG
